@CHARSET "UTF-8";

/************************** 헤더 시작 **********************/
header{
	min-width: 1460px;
	width: 100%;
	height: 50px;
	background-color: #262626;
}
.header{
	min-width: 1152px;
	margin: 0 auto;
	width: 60%;
	height: 50px;
}
.header_wrap{
	height: 50px;
}
.header_logo{
	min-width: 192px;
	width: 10%;
	height: 50px;
	background-color: white;
	display: inline-block;
	position: absolute;
	top: 0;
}

.header_logo img{
	height: 100%;
	margin-left: 25%;
	
}

.header_menu{
	width: 79%;
	height: 50px;
	display: inline-block;
	margin-left: 20%;
}
.header_menu li{
	float: left;
	margin-left: 20px;
	position: relative;
}
.header_menu ul li a{
	padding: 20px 20px 16px 20px;
	display: block;
	font-size: 14px;
	color: white;
}
.header_menu ul li a:hover{
	color: white;
	background-color:#339bff;
}
.header_right{
	float: right; 
}
.header_right span{
	float: left;
	display: block;
	margin: 10px 20px 10px 0;
}
.header_right a{
	display: block;
	
	color: white;
}
.header_login a{
	height: 30px;
	line-height: 20px;
	background-color: #94a2af;
    border-color: #8595a4;
    color: white;
    border-radius: 4px;
    line-height: 25px;
}

.header_sign_up a{
	background-color: #94a2af;
	height: 30px;
	line-height: 25px;
	border-radius: 4px;
	
}

/********** 로그인 전 ************/

.profile_section{
	min-width: 1460px;
	width: 100%;
	height: 50px;
	background-color: #595959;

}
.profile_div{
	min-width: 1152px;
	width: 60%;
	height: 50px;
	margin: 0 auto;
	
	
	
}

.profile_div li {
	float: left;
}

.profile_div ul li a{
	padding: 15px 20px 21px 20px;
	display: block;
	font-size: 14px;
	color: white;
}
.profile_div ul li a:hover{
	background-color: #00b386;
	
}

/********** 로그인 후 ************/

/******************************** 여기까지 헤더 ********************************/

/******************************* 바디 시작 **********************************/
body{
	background-color: #f2f2f2;
}

.advertising{
	height: 480px;
	margin: 0 auto;
}
.invitation-text-md {
    padding-top: 70px;
    font-size: 20px;
    color: #454545;
    line-height: 22px;
    margin-bottom: 0 !important;
    text-align: center;
    margin: 0 0 10px;
}
.invitation-heading {
    font-weight: bold;
    font-size: 46px;
    color: #454545 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 45px;
    text-align: center;
}
.invitation-text-sm {
    border-top: 1px solid rgba(172,172,172,0.3);
    border-top: 1px solid #dedede;
    width: 594px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    color: #454545;
    padding: 20px 0 15px;
    margin-bottom: 0;
    line-height: 18px;
    text-align: center;
}
.advertising_div{
	width: 100%;
	height: 380px;
	background-color: #e1e1e1;
}
.project_quantity_div{
	border-top: 1px solid rgba(172,172,172,0.3);
    border-bottom: 1px solid #d4d5d6;
    height: 92px;
    background-color: #fff;
	width: 100%;
}
.projectCount{
	width: 1060px;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 92px;	
}
.projectCount div{
	border-left: 1px solid rgba(136,136,136,0.2);
}
.projectCount div+div+div {
    border-right: 1px solid rgba(136,136,136,0.2);
}
.project{

	height: 480px;
	margin: 0 auto;
}
.project_div{
	width : 1250px;
	height: 100%;
	background-color: f2f2f2;
	margin: 49px auto;
}
.status-box {
	text-align: center;
    float: left;
    width: 352px;
}
.status-box p {
    line-height: 18px;
    font-size: 16px;
    color: #2d3a45;
    margin-bottom: 10px;
}
.status-box span {
    line-height: 26px;
    font-weight: bold;
    font-size: 24px;
    color: #2d3a45;
    margin-bottom: 18px;
}
.status-box span+span {
    padding-left: 8px;
    line-height: 26px;
    font-weight: bold;
    font-size: 16px;
    color: #2d3a45;
}
.freelancer{
	width: 1152px;
	height: 480px;
	background-color: #a1a1a1;
	margin: 0 auto;
}
.freelancer_div{
	width: 1060px;
	height: 100%;
	background-color: #d6d6d6;
	margin: 50px 46px 50px 46px;
}
.process{
	margin-top: 50px;
    margin-bottom: 0\0;
    background-color: #fff;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.process_div{
	margin: 0 auto;
    width: 1060px;
}
.advantage_div{
	margin-left: auto;
    margin-right: auto;
    width: 1060px;
    padding-top: 50px;
    padding-bottom: 50px;
}
/************************************ 여기까지 바디 *************************************/

/************************************ 푸터시작 *****************************************/
footer{
	min-width: 1460px;
	width: 100%;
	height: 200px;
	background-color: black;
}
.footer .footer_wrap{
	width: 1080px;
    margin-left: auto;
    margin-right: auto;
	
}


/************************************* 여기까지 푸터 ************************************/

.text_css{
	width: 40%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #666;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 2px;
}


