@CHARSET "UTF-8";

/************************** 헤더 시작 **********************/
header{
	min-width: 1460px;
	width: 100%;
	height: 50px;
	background-color: gray;
}
.header{
	min-width: 1152px;
	margin: 0 auto;
	width: 60%;
	height: 50px;
	background-color: yellow;
}
.header_wrap{
	height: 50px;
}
.header_logo{
	min-width: 192px;
	width: 10%;
	height: 50px;
	background-color: white;
	display: inline-block;
	position: absolute;
	top: 0;
}

.header_logo img{
	height: 100%;
	margin-left: 25%;
	
}

.header_menu{
	width: 79%;
	height: 50px;
	display: inline-block;
	margin-left: 20%;
}
.header_menu li{
	float: left;
	margin-left: 20px;
	position: relative;
}
.header_menu ul li a{
	padding: 15px 20px 15px 20px;
	display: block;
	font-size: 14px;
}
.header_right{
	float: right; 
}
.header_right span{
	float: left;
	display: block;
	margin: 10px 20px 10px 0;
}
.header_right a{
	display: block;
	
	color: white;
}
.header_login a{
	background-color: #797f86;
	padding: 5px 10px 5px 10px;
	height: 30px;
	line-height: 20px;
}

.header_sign_up a{
	background-color: #0073ff;
	padding: 5px 10px 5px 10px;
	height: 30px;
	line-height: 20px;
}

/********** 로그인 전 ************/

.profile_section{
	min-width: 1460px;
	width: 100%;
	height: 50px;
	background-color: #bdc4cc;
}
.profile_div{
	min-width: 1152px;
	width: 60%;
	height: 50px;
	margin: 0 auto;
	
	
	
}

.profile_div li {
	float: left;
}

.profile_div ul li a{
	padding: 15px 20px 15px 20px;
	display: block;
	font-size: 14px;
}


/********** 로그인 후 ************/

/******************************** 여기까지 헤더 ********************************/

/******************************* 바디 시작 **********************************/
body{
	background-color: #f2f2f2;
	
}
.advertising{
	width: 1152px;
	height: 480px;
	background-color: green;
	margin: 0 auto;
	
}
.advertising_div{
	width: 100%;
	height: 380px;
	background-color: #e1e1e1;
}
.project_quantity_div{
	width: 100%;
	height: 100px;
	background-color: #a6a6a6;
}
.project{
	width: 1152px;
	height: 480px;
	background-color: #d9d9d9;
	margin: 0 auto;
}
.project_div{
	width: 1060px;
	height: 100%;
	background-color: white;
	margin: 50px 46px 50px 46px;
		
}

.freelancer{
	width: 1152px;
	height: 480px;
	background-color: #a1a1a1;
	margin: 0 auto;
}
.freelancer_div{
	width: 1060px;
	height: 100%;
	background-color: #d6d6d6;
	margin: 50px 46px 50px 46px;
}
.process{
	width: 1152px;
	height: 750px;
	background-color: white;
	margin: 0 auto;
}
.process_div{
	width: 1060px;
	height: 200px;
	background-color: #e6e6e6;
	margin: 50px 46px 50px 46px;
}


.advantage_div{
	width: 1060px;
	height: 500px;
	background-color: #c9c9c9;
	margin: 50px 46px 50px 46px;
}
/************************************ 여기까지 바디 *************************************/

/************************************ 푸터시작 *****************************************/
footer{
	min-width: 1460px;
	width: 100%;
	height: 200px;
	background-color: black;
}
.footer .footer_wrap{
	width: 1080px;
    margin-left: auto;
    margin-right: auto;
	
}


/************************************* 여기까지 푸터 ************************************/

.text_css{
	width: 40%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #666;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 2px;
}


