<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ApplicantMapper">
  	<select id="list" resultType="com.flu.applicant.ApplicantDTO" parameterType="java.lang.Integer">
  		select * from applicant where projectNum=#{projectNum} and state in('finish','payFinish')
  	</select>
  	
  	<select id="chatList" resultType="com.flu.applicant.ApplicantDTO" parameterType="java.lang.Integer">
  		select * from applicant where projectNum=#{projectNum} and state in('ing')
  	</select>
  
  	<update id="update" parameterType="java.lang.String">
  		update applicant set state = 'payFinish' where email=#{email}
  	</update>
  
  
  <!-- 지원하기 눌렀을 때, 지원자 추가하기 -->
  <insert id="insertApplicant" parameterType="com.flu.applicant.ApplicantDTO">
  insert into applicant (projectNum, email, state, pay) values (#{projectNum}, #{email}, 'app', #{pay})
  </insert>
  
  <select id="checkApplicant" parameterType="com.flu.applicant.ApplicantDTO" resultType="int">	
	select count(nvl(projectNum,0)) from applicant where projectNum=#{projectNum} and email=#{email}
  </select>
 <select id="countApplicant" parameterType="int" resultType="int">
  	select count(nvl(projectNum, 0)) from applicant where projectNum=#{projectNum} 
  </select> 
  <delete id="deleteApplicant" parameterType="com.flu.applicant.ApplicantDTO" >
  	delete from applicant where email=#{email} and projectNum=#{projectNum}
  </delete>
  
  </mapper>