<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="EachRoomMapper">
  	
  	<!-- 세부공간 등록  -->
  	<insert id="EachInsert" parameterType="com.flu.eachRoom.EachRoomDTO" >
  		insert into eachroom values (eachroom_seq.nextval, #{name}, #{contents}, #{time}, #{fname}, #{oname}, #{type}, #{human}, #{convenience}, #{price}, #{snum})
  	</insert>
  	
  	<!-- 세부공간 리스트  -->
  	<select id="EachList" resultType="com.flu.eachRoom.EachRoomDTO" parameterType="java.lang.Integer">
  		select * from eachroom where snum=#{num} order by num asc
  	</select>

	<!-- 세부공간 정보 보기  -->
	<select id="EachView" parameterType="java.lang.Integer" resultType="com.flu.eachRoom.EachRoomDTO">
		select * from eachroom where num=#{num}
	</select>
	

	<!-- 세부공간 직접 삭제 -->
	<delete id="EachDelete" parameterType="java.lang.Integer">
		delete eachroom where num=#{num}
	</delete>
	
	
	<!-- 세부공간 정보 수정  -->
	<update id="EachUpdate" parameterType="com.flu.eachRoom.EachRoomDTO">
		update eachroom set name=#{name}, contents=#{contents}, time=#{time}, fname=#{fname}, oname=#{oname}, type=#{type}, human=#{human}, convenience=#{convenience}, price=#{price} where num=#{num}
	</update>
	
	<!-- 세부공간 등록할때 업체의 영업시간을 가져온다  -->
	<select id="time" parameterType="java.lang.Integer" resultType="com.flu.meetRoom.MeetRoomDTO">
		select time from meetroom where num=#{num}
	</select>
  </mapper>