<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ProjectMapper">
  
  <!-- 검색도 넣기 -->
  
  <select id="count" parameterType="com.flu.util.ListInfo" resultType="java.lang.Integer">
  	select count(nvl(num,0)) from project
  </select>
    
    
  <select id="list" parameterType="com.flu.util.ListInfo" resultType="com.flu.project.ProjectDTO"> 
  </select>
  
  
  <insert id="write" parameterType="com.flu.project.ProjectDTO">
  	insert into project (projectNum, category, detailCategory, name, period, startDate, budget, planState, contents, skill, finishDate, 
  	meetKind, exp, state, email, quick, fname, oname, addr_num, addr_main, addr_detail, reg_date) 
  	values (1, 'a',)
  </insert>
  
  
  <select id="view" parameterType="java.lang.Integer" resultType="com.flu.project.ProjectDTO">
  </select>
  
  
  <update id="update" parameterType="com.flu.project.ProjectDTO">
  </update>
  
  
  <delete id="delete" parameterType="java.lang.Integer">
  </delete>
 
  
  </mapper>