<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ReplyMapper">

  <!-- list, insert, update, delete -->
  
  <select id="count" parameterType="java.util.HashMap" resultType="int">
  	select count(nvl(num,0)) from reply where projectNum=#{project.projectNum}
  </select>
    
    
  <select id="list" parameterType="java.util.HashMap" resultType="com.flu.reply.ReplyDTO">

       select * from 
       (select rownum R, P.* from
       (select * from reply where projectNum=#{project.projectNum} order by num desc) P)
        where R between #{listInfo.startRow} and #{listInfo.lastRow}

  	</select>
  	
  
  
  <insert id="insert" parameterType="com.flu.reply.ReplyDTO">
insert into reply (num, writer,contents,reg_date,projectNum,ref,step,depth,replyChk) 
values (reply_seq.nextval, #{writer}, #{contents}, sysdate, #{projectNum}, #{ref},0,0,#{replyChk})
  </insert>

 
  <update id="update" parameterType="com.flu.reply.ReplyDTO">
  	update reply set contents=#{contents}, reg_date=sysdate where num=#{num}
  </update>
  
  
  <delete id="delete" parameterType="java.lang.Integer">
  	delete reply where num=#{num}
  </delete>
 
 <insert id="replyinsert" parameterType="com.flu.reply.ReplyDTO">
 	insert into reply (num, writer,contents,reg_date,projectNum,ref,step,depth,replyChk) 
	values (reply_seq.nextval, #{writer}, #{contents}, sysdate, #{projectNum} , #{ref},#{step},#{depth},#{replyChk})
 </insert>
  
  </mapper>